name: Build and Publish Docker Image (on Release)

on:
  release:
    types: [published]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        #env:
        #  DJANGO_SETTINGS_MODULE: config.settings
        run: |
          python manage.py test apps.tasks.uni_test.TaskListSecurityTest.test_task_list_sql_injection_in_title -v 2
          python manage.py test apps.tasks.uni_test.DeleteTaskSecurityTest.test_usuario_intruso_nao_deleta_task_de_outro -v 2
        # python todolist_project/manage.py test todolist_project
          
    
